/*форма пошуку*/
/*HBox, в якому всі форми для задання параметрів пошуку*/
.searchRoutesBox {
    -fx-pref-width: 1040;
    -fx-pref-height: 400;
    -fx-max-width: 1040;
    -fx-max-height: 400;
    -fx-padding: 20 20 0 20;
    /*може bg-color взагалі не давати..*/
    /*-fx-background-color: #eaeef1;*/
}
.searchParametersBox {
    -fx-background-color: #eaeef1;
    -fx-effect: dropshadow(gaussian , #c3c9d0, 25, 0.0, 0, 0);
    -fx-pref-width: 1000;
    -fx-pref-height: 255;
    -fx-max-width: 1000;
    -fx-max-height: 255;
    -fx-padding: 15 25 35 25;
}
/*HBox, в якому два поля для пошуку*/
.stationsSelections {
    -fx-padding: 0 0 25 0;
}
/*ті простенькі лейбли над полями вибору станцій та датою*/
.simpleLabel.label {
    -fx-text-fill: #777a7e;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 3 0;
    /*я хз чого саме там має бути 500. думаю не пікселів, але попробуй все що є.*/
    /*-fx-font-weight: 500;    */
}
/*поле вибору зупинки*/
.stationSelectField {
    /*я хз чи підійде. пробуй*/
    -fx-pref-width: 446;
    -fx-pref-height: 49;
    -fx-max-width: 446;
    -fx-max-height: 49;
}
.stationSelectField.combo-box-base{ /* .text-field*/
    -fx-text-fill: #373737;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

/*гарячі зупинки*/
.hotList {
    -fx-padding: 5 0 0 5;
}
.hot.label {
    -fx-text-fill: #262626;
    -fx-font-size: 14px;
}
.hot {
    -fx-underline: true;
    -fx-padding: 0 7 0 0;
}
.hot:hover {
    -fx-cursor: hand;
    -fx-underline: false;
}
.swapArrowPane {
    -fx-padding: 37 10 0 10;
}
.swapArrow {
    -fx-cursor: hand;
}
.dateTimePickerBox {

}
.datePicker {
    -fx-pref-width: 232;
    -fx-pref-height: 93;
    -fx-max-width: 232;
    -fx-max-height: 93;
}
.picker {
    -fx-pref-width: 232;
    -fx-pref-height: 49;
    -fx-max-width: 232;
    -fx-max-height: 49;
}
.picker .text-field {
    -fx-text-fill: #373737;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}
.timePicker {

}
.paneWithButton {
    -fx-pref-width: 1000px;
    -fx-pref-height: 130px;
    -fx-max-width: 1000px;
    -fx-max-height: 130px;
}
.aroundSearchButton {
    -fx-background-radius: 42;
    -fx-background-color: #dbe4ea;
    -fx-pref-width: 464px;
    -fx-pref-height: 80px;
    -fx-max-width: 464px;
    -fx-max-height: 80px;
}
.searchButton {
    -fx-border-color: #a5d1ef;
    -fx-border-width: 2;
    -fx-border-radius: 42;
    -fx-background-radius: 42;
    -fx-background-color: linear-gradient(#add7ef 0px, #78b5da 100%);
    -fx-pref-width: 434px;
    -fx-pref-height: 60px;
    -fx-max-width: 434px;
    -fx-max-height: 60px;

}
.searchButton .label {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #1d4965;
}
.searchButton:hover {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(#b3ddf5 0px, #7ebbe0 100%);
}
.searchButton:armed{
    -fx-cursor: hand;

    /*-fx-background-color: #7ebbe0;*/
    /*-fx-border-color: #7ebbe0;  !* може ось це забрати *!*/

    -fx-background-color: linear-gradient(#7ebbe0 0px, #b3ddf5 100%);
    -fx-border-color: linear-gradient(#7ebbe0 0px, #b3ddf5 100%);

}


/*форма пошуку*/


.label {
    -fx-text-fill: #ffffff;
}

.carriageList {
    -fx-pref-width: 1000px;
    -fx-pref-height: 43px;
    -fx-background-color: #a1b0b9;
    -fx-padding: 10px 10px 10px 30px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-spacing: 3px;
}
.carriageTab {
    -fx-pref-width: 72px;
    -fx-pref-height: 28px;
    -fx-max-width: 72px;
    -fx-max-height: 28px;
    -fx-cursor: hand;
}
.carriageTab.label {
    -fx-effect: dropshadow( gaussian , #000000 , 1,0,0,0 );
}
.carriageTab #carriageNumber {
    -fx-pref-width: 45;
    -fx-pref-height: 18;
    -fx-alignment: center;
}
.carriageTab #carriageFreePlacesAmount {
    -fx-pref-width: 22;
    -fx-pref-height: 10;
    -fx-alignment: center;
}
.carriageTab:selected {
    -fx-border-width: 1;
    -fx-border-color: #ffffff;
    -fx-border-insets: -3 0 0 -4;
    -fx-border-radius: 3;
}

.carriageScheme {
    -fx-pref-width: 1000px;
    -fx-pref-height: 215px;
    -fx-background-color: #f9fbfd;
    -fx-padding: 0px 0px 0px 30px;

}
.carriageType {
    -fx-pref-width: 998px;
    -fx-pref-height: 33px;
    -fx-padding: 10px 10px 10px 0px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c6a8c;

}

.carriageFloor {
    -fx-pref-width: 870px;
    -fx-pref-height: 97px;
    -fx-max-width: 870px;
    -fx-max-height: 97px;
    -fx-border-width: 6px;
    -fx-border-insets: -5px;
    -fx-border-color: #2c6a8c;
    -fx-border-radius: 10;
    -fx-padding: 10px 10px 10px 35px;
}
.carriageFloor#couchette {
    -fx-pref-width: 870px;
    -fx-pref-height: 127px;
    -fx-max-width: 870px;
    -fx-max-height: 127px;
}
/*.carriageFloor#comparatment#sv {*/
    /*-fx-pref-width: 870px;*/
    /*-fx-pref-height: 97px;*/
    /*-fx-max-width: 870px;*/
    /*-fx-max-height: 97px;*/
/*}*/

.carriageFloor .separator *.line {
    -fx-border-style: solid;
    -fx-border-color: #2c6a8c;
}
.carriageFloor .separator#short *.line {
    -fx-border-width: 35 0 0 2;
}
 .carriageFloor .separator#long *.line {
    -fx-border-width: 66 0 0 2;
}

.hb_w_places {
    -fx-spacing: 8;
}
.place {
    -fx-pref-width: 32px;
    -fx-pref-height: 25px;
    -fx-max-width: 32px;
    -fx-max-height: 25px;
    -fx-background-color: #BEBEBE;
    -fx-background-radius: 5;
}
.place#sv {
    -fx-pref-width: 32px;
    -fx-pref-height: 55px;
    -fx-max-width: 32px;
    -fx-max-height: 55px;
}
.place#sv .label{
    -fx-min-height: 55px;
    -fx-pref-height: 55px;
    -fx-max-height: 55px;
}
.place:free {
     -fx-background-color: #2c6a8c;
 }
.place:selected {
    -fx-background-color: #CE0000;
}
.place .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
    -fx-min-width: 32px;
    -fx-pref-width: 32px;
    -fx-max-width: 32px;
}
.place .separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 23;
    -fx-border-color: #ffffff;
}


.placeOrderPane .label {
    -fx-text-fill: #262626;
    -fx-font-weight: bold;
}
.placeOrderList {
    -fx-pref-width: 1000px;
    -fx-pref-height: 149px;
    -fx-background-color: #f9fbfd;
    -fx-border-color: #d7dce1;
    -fx-border-width: 0 1px 1px 1px;
    -fx-padding: 16px 20px 35px 0;
    -fx-alignment: center-right;
}
.placeOrderList #routeNumberBox {
    -fx-pref-width: 112px;
    -fx-pref-height: 62px;
    /*-fx-background-color: #f9fbfd;*/
    -fx-border-color: #d7dce1;
    -fx-border-width: 1px;
    -fx-border-insets: 17px 0px 19px 0px;
}
.placeOrderList #routeNumberBox .label {
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.passengerNumber {
    -fx-padding: 0px 0px 0px 5px;
}
.placeOrderBox {
    -fx-pref-width: 113px;
    -fx-pref-height: 61px;
    -fx-border-color: #d7dce1;
    -fx-border-width: 1px 1px 1px 0px;
}
.placeOrderBox .label{
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}
.placeOrderCloseButton {
    -fx-cursor: hand;
    -fx-pref-width: 18px;
}

#totalCostLabel {

}
.orderTicketButton {
    -fx-pref-width: 270px;
    -fx-pref-height: 60px;
    /*-fx-max-width: 270px;*/
    /*-fx-max-height: 60px;*/
    -fx-background-color: linear-gradient(#79b6db 0%, #b3dbf2 100%);
}
.orderTicketButton:hover {
    -fx-opacity: .8;
    -fx-cursor: hand;
}



.passengerData {

}
.passengerData .passengerNumber .label{
    -fx-pref-width: 1000px;
    -fx-pref-height: 50px;
    -fx-padding: 0px 0px 0px 20px;
    -fx-background-color: #a1b0b9;
    -fx-text-alignment: left;
}

.passengerData .main {

}
.passengerData .main .btnCancel .label{
    -fx-cursor: hand;
    -fx-text-fill: #245c78;
    -fx-underline: true;
    -fx-pref-width: 339px;
    -fx-pref-height: 50px;
    -fx-text-alignment: right;
    /*додай сюди padding зверху*/
}
.passengerData .main .btnCancel .label:hover{
    -fx-underline: false;
}

.passengerData .main .hbRouteCarriagePlaceInfo {
    -fx-pref-width: 958px;
    -fx-pref-height: 26px;
    -fx-spacing: 20px;
    -fx-alignment: center-left;
}
.passengerData .main .hbRouteCarriagePlaceInfo .label {

}

.passengerData .main .hbBuyingDocTypeServicesAndCost{

}
.passengerData .main .hbBuyingDocTypeServicesAndCost .pBuyingAndDocType{

}
.passengerData .main .hbBuyingDocTypeServicesAndCost .pBuyingAndDocType .vbDocType{

}
.passengerData .main .hbBuyingDocTypeServicesAndCost .pServices{

}
.passengerData .main .hbBuyingDocTypeServicesAndCost .pServices .vbServices{

}
.passengerData .main .hbBuyingDocTypeServicesAndCost .bpTicketCost{

}
.passengerData .main .hbBuyingDocTypeServicesAndCost .bpTicketCost .label{

}





/*перепиши на іншу форму!!!*/
.passengerData .hbTotalCostAndBuyButton {

}

.passengerData .hbTotalCostAndBuyButton .vbTotalCostAndBuyButton .bpTotalCost{

}

.passengerData .hbTotalCostAndBuyButton .vbTotalCostAndBuyButton .{

}




/*опиши тут ті дві лейбли документ тайп та сервіс*/
.passengerData .main .hbBuyingDocTypeServicesAndCost .pBuyingAndDocType .vbDocType .label,
.passengerData .main .hbBuyingDocTypeServicesAndCost . . .label {

}


.passengerData .main {

}

.passengerData {

}



.nameField {

}
.nameField .label{

}
.nameField .text-field{

 }